* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
}

header {
    position: relative;
    margin: 0 100px;
}

header img {
    width: 20rem;
    margin-top: 1rem;
}

#contact_modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -5px 5px 20px 0px #ccc;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.infos-photographer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.photographer_infos_name {
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
}

.photographer_infos_city {
    color: #901C1C;
    font-size: 24px;
}

.photographer_infos_tagline {
    margin-top: 1rem;
    font-size: 18px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.infos-photographer img {
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 0 1rem;
    outline: none;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 1rem;
    outline: none;
    resize: none;
}